<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sablepay_logo"
        android:roundIcon="@drawable/sablepay_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SablePayExample"
        android:name=".SablePayExampleApp">

        <!-- Coffee Shop POS Demo (MAIN LAUNCHER) -->
        <activity
            android:name=".IntegrationDemoActivity"
            android:exported="true"
            android:label="POS"
            android:theme="@style/Theme.SablePayExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
